body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: green;
    color: white;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#currentTime {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}
